
.contact-me-content {
    text-align: center;
    color: #fae9de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Adjust to start content higher up */
    padding-left: 20px;
    padding-right: 20px;
}

.contact-me-title {
    font-size: 4vw;
    margin-bottom: 2vh;
    font-weight: bold;
    color: #fae9de;
}

.contact-me-description {
    font-size: 1.5vw;
    margin-bottom: 4vh;
    line-height: 1.6;
    color: #fae9de;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-link {
    display: block;
    width: 7vw;
    height: 7vw;
    text-decoration: none;
    text-align: center;
    opacity: 0.7;
}

.social-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: transparent;
    border-radius: 10px;
}

.social-link:hover {
    transform: scale(1.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
}

.social-link span {
    display: block;
    margin-top: 5px;
    font-size: 1.5vw;
    color: #fae9de;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}




