/* General Layout */
.writing-title {
    font-size: 4vw;
    margin-bottom: 2vh;
    font-weight: bold;
    color: #fae9de;
}

.writing-intro {
    font-size: 1.5vw;
    line-height: 1.6;
    color: #fae9de;
}

.writing-description {
    font-size: 1.5vw;
    line-height: 1.6;
    color: #fae9de;
}

.writings-list {
    border-top: 1px solid #fae9de;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 0 auto;
}

.writing-item {
    margin-bottom: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.writing-item:hover {
    background-color: rgba(250, 233, 222, 0.05);
}

.writing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    background-color: transparent;
    border: none;
    color: #fae9de;
    font-size: 1.8vw;
    cursor: pointer;
    outline: none;
    margin-right: 1vw;
    transform: rotate(0deg) scaleY(0.5);
    transition: transform 0.5s ease-out;
}

.writing-item.expanded .toggle-button {
    transform: rotate(180deg) scaleY(0.5);
}

.paper-title {
    font-size: 1.8vw;
    margin: 0;
    text-align: left;
    flex: 1;
    color: #fae9deeb;
}

.writing-buttons {
    display: flex;
    gap: 1vw;
}

.writing-button {
    background-color: #fae9de;
    color: #000000;
    padding: 1vw 2vw;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.2vw;
}

.writing-button:hover {
    background-color: #000000;
    color: #fae9de;
}

.writing-button-translation {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    padding: 1vw 2vw;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.writing-description {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.writing-item.expanded .writing-description {
    max-height: 500px;
    opacity: 1;
    padding-top: 1vh;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in, padding 0.5s ease-in;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
    .writing-title {
        font-size: 8vw;
        text-align: center;
        margin-bottom: 2vh;
    }

    .writing-intro {
        font-size: 4vw;
        color: #fae9de;
        text-align: center;
        margin-bottom: 4vh;
    }

    .writing-item {
        background-color: #2a2a2a;
        padding: 5vw;
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .paper-title {
        font-size: 5vw;
        color: white;
        margin-bottom: 1vh;
        text-align: center;
    }

    .writing-description {
        font-size: 3vw;
        padding-top: 0;
        padding-bottom: 0;
        color: #fae9de;
        text-align: center;
        margin-bottom: 2vh;
    }

    .writing-buttons {
        display: flex;
        justify-content: center;
        gap: 2vw;
        width: 100%;
    }

    .writing-button {
        font-size: 3.5vw;
        padding: 2vw 4vw;
        background-color: #fae9de;
        color: #000000;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .writing-button:hover {
        background-color: #000000;
        color: #fae9de;
    }
}

