/* Base Styles (apply to all screens unless overridden by media queries) */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Replace with 'Proxima Nova', sans-serif if using Proxima Nova */
  background-color: #000; /* Optional: Set a background color for your entire site */
  color: white; /* Universal text color */
  overflow-y: scroll; /* Ensures vertical scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Or 'Proxima Nova' */
}

html {
  overflow-y: scroll; /* Allow vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  scroll-behavior: smooth;
}

p, a {
  font-family: 'Montserrat', sans-serif; /* Or 'Proxima Nova' */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Universal class to reset margins and padding for sections */
.section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add styles for the .custom-academic-layout class */
.custom-academic-layout {
  width: 100%;
  padding: 20px; /* Padding for desktop */
  box-sizing: border-box;
  margin: 0 auto;
}

/* Media Query for Phone (Mobile) Screens */
@media (max-width: 767px) {
  .background-content.custom-academic-layout {
    width: 100% !important;  /* Make the content full width */
    margin: 0 auto !important; /* Remove any unwanted margin */
    padding-left: 0 !important; /* Adjust padding for smaller screens */
    padding-right: 0 !important;
    text-align: left;  /* Ensure text is aligned for readability */
  }

  /* Adjust body for mobile specific needs */
  body {
    padding: 0;
    overflow-x: hidden; /* Ensure no horizontal scroll */
  }

  /* Adjust font size and spacing for better mobile readability */
  h1 {
    font-size: 6vw;
  }
  
  p, a {
    font-size: 4vw;
  }
}


