body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Replace with 'Proxima Nova', sans-serif if using Proxima Nova */
  background-color: #000; /* Optional: Set a background color for your entire site */
  color: white; /* Universal text color */
  overflow-y: scroll; /* Ensures scrolling is enabled */
  scrollbar-width: none; /* For Firefox */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Or 'Proxima Nova' */
}

html {
  overflow-y: scroll; /* Allow vertical scrolling */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

p, a {
  font-family: 'Montserrat', sans-serif; /* Or 'Proxima Nova' */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}



